$background: #161616;
$foreground: #d0d0d0;
$selected-foreground: #ffffff;
$selected-background: #202020;
$nav-background: #101010;
$input-background: #404040;
$lightbox-background: rgba(0, 0, 0, 0.9);
