header {
  position:fixed;
  top: 0;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 10px 5px;
  background-color: $nav-background;
  opacity: 0.95;
  z-index: 10;

  @include desktop {
    justify-content: left;
    padding: 10px 40px;
  }

  nav {
    a {
      vertical-align: middle;

      &.home {
        display: none;
        font-size: 30px;
        border: none;

        @include desktop {
          display: inline-block;
        }
      }
    }
  }
}
