nav {
  a {
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 2px solid $foreground;
    transition: color 300ms ease-in-out;
    margin-right: 10px;

    &:hover {
      color: $selected-foreground;
      border-bottom: 2px solid $selected-foreground;
    }
  }
}
