nav {
  a {
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 2px solid $foreground;
    transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
    & + a {
      margin-left: 5px;
    }

    @include desktop {
      & + a {
        margin-left: 20px;
      }
    }

    &:hover {
      color: $selected-foreground;
      border-bottom: 2px solid $selected-foreground;
    }
  }
}
