<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#101010" />
    <title>
      {% if page.title == "nogreathurry" %}
        {{ page.title }}
      {% else %}
        {{ page.title }} · nogreathurry
      {% endif %}
    </title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family={{ site.font }}:200,300,400,700" media="all">
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@11.0.3/dist/lazyload.min.js"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
