<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Exo:200,300,400,700" media="all">
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    {{ content }}
    <footer>
      <ul>
        <li>
          <a href="https://www.facebook.com/robin.m.barr">
            <img src="/assets/facebook.png"/><span>robin.m.barr</span>
          </a>
        </li>
        <li>
          <img src="/assets/flickr.png"/><span>robinmauricebarr</span>
        </li>
        <li>
          <img src="/assets/instagram.png"/><span>nogreathurry</span>
        </li>
        <li>
          <img src="/assets/instagram.png"/><span>nogreathurry_people</span>
        </li>
        <li>
          <img src="/assets/instagram.png"/><span>robin.likes.abstracts</span>
        </li>
      </ul>
    </footer>
  </body>
</html>
