---
layout: base
---

<header>
  <nav>
    <a class="home" href="/">nogreathurry</a>
    <a href="/buildings">buildings</a>
    <a href="/people">people</a>
    <a href="/abstract">abstract</a>
    <a href="/about">about</a>
    <a href="/contact">contact</a>
  </nav>
</header>

<div class="container">
  {{ content }}
</div>

<footer>
  <ul>
    <li>
      <a href="https://www.flickr.com/photos/robinmauricebarr/">
        <img src="/assets/flickr.png"/><span>robinmauricebarr</span>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/nogreathurry/">
        <img src="/assets/instagram.png"/><span>nogreathurry</span>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/nogreathurry_people/">
        <img src="/assets/instagram.png"/><span>nogreathurry_people</span>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/robin.likes.abstracts/">
        <img src="/assets/instagram.png"/><span>robin.likes.abstracts</span>
      </a>
    </li>
  </ul>
</footer>
