---
layout: default
---

<section class="gallery">
  <div class="grid">
    {% for photo in site[page.collection] %}
      <div
        class="item"
        data-image="{{ photo.image }}"
        data-content="{{ photo.content }}"
      >
        <img src="{{ photo.thumbnail_image }}"/>
      </div>
    {% endfor %}
  </div>
</section>

<div class="lightbox">
  <div class="wrapper">
    <nav>
      <a class="close">close</a>
    </nav>
    <div class="image">
      <img/>
    </div>
    <div class="content" />
  </div>
</div>

<script>
  var lightbox = document.querySelector('.lightbox');
  var lightboxImage = document.querySelector('.lightbox .image img');
  var lightboxContent = document.querySelector('.lightbox .content');

  document.querySelectorAll('.gallery .item')
    .forEach(function (item) {
      item.addEventListener('click', function () {
        lightboxImage.src = item.dataset.image;
        lightboxContent.innerHtml = item.dataset.content;
        lightbox.classList.add('visible');
      });
    });

  document.querySelector('.lightbox .close')
    .addEventListener('click', function () {
      lightbox.classList.remove('visible');
    });
</script>
