---
layout: default
---

{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign  document = site[the_collection]  %}
  {% endif %}
{% for links in document  %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<section class="photo">
  <div class="image">
    <img src="{{ page.image }}">
    <div class="prevnext">
      <a href="{{ prevurl }}">◀</a>
      <a href="{{ nexturl }}">▶</a>
    </div>
  </div>
  <div class="content">
    <p>
      {{ page.content }}
    </p>
  </div>
</section>
